{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="card" style="margin: 10px auto;">
    <div class="card-body">
      {% if object.photo %}
      <img src="{{object.photo.url}}" alt="img" class="card-img-top">
      {% endif %}
      <h1 class="card-title">{{object.title}}</h1>
      <h6 class="card-subtitle mb-2 text-muted">Автор {{ object.author }} | {{ object.date }}</h6>
      <hr>
      <p class="card-text">{{object.body | safe}}</p>
      <hr>
      {% if user.is_superuser %}
      <a href="{% url 'article_edit' article.pk %}">Редактировать</a> |
      <a style="color: red;" href="{% url 'article_delete' article.pk %}">Удалить</a> |
      {% endif %}
      <a href="{% url 'article_list' %}">Все посты</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Комментарии</div>
    {% for comment in article.comments.all %}
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{comment}}</p>
        <footer class="blockquote-footer">{{ comment.author }}</footer>
      </blockquote>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}